body{
    margin:0px;
    padding: 0px;
}
ul,ol{
    margin: 0px;
    padding:0px;
    list-style: none    ;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

button{
    outline: none;
    cursor: pointer;
}


.flex{display: flex;}
.fixed{position: fixed;}
.abs{position: absolute;}
.rel{position: relative;}

.noul{text-decoration: none;}

.bl{display:block;}

.alc{align-items: center;}
.jlc{justify-content: center;}

.c33{color: #333;}
.c77{color: #777;}
.cff{color:#fff}

.s10{font-size: 10px;}
.s13{font-size: 13px;}
.s15{font-size: 15px;}
.s20{font-size: 20px;}
.s24{font-size: 24px;}

.fontb{
    font-weight: bold;
}

.fontn{
    font-weight: normal;
}
